@font-face {
  font-family: "TT_Travels"; 
  src: url("../fonts/TT_Travel/TTTravels-Regular.woff2") format('woff2'),
       url("../fonts/TT_Travel/TTTravels-Regular.woff") format('woff'),
       url("../fonts/TT_Travel/TTTravels-Regular.ttf") format('truetype');  
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "TT_Travels Light"; 
  src: url("../fonts/TT_Travel/TTTravels-Light.woff2") format('woff2'),
        url("../fonts/TT_Travel/TTTravels-Light.woff") format('woff'),
        url("../fonts/TT_Travel/TTTravels-Light.ttf") format('truetype');       
  font-style: normal; 
  font-weight: normal; 
}


@font-face {
  font-family: "Schnyder Cond XL Demi"; 
  src: url("../fonts/Schnyder_X_Condensed/SchnyderXCondLDemi.woff2") format('woff2'),
       url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.woff") format('woff');       
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Schnyder Cond L Demi"; 
  src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff2") format('woff2'),
       url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff") format('woff');       
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Schnyder Cond XL Light"; 
  src: url("../fonts/Schnyder_X_Condensed/Schnyder X Cond XL Light.woff2") format('woff2'),
       url("../fonts/Schnyder_X_Condensed/Schnyder X Cond XL Light.woff") format('woff');       
  font-style: normal; 
  font-weight: normal; 
}
