.socials{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  bottom: 47px;
  left: 48px;
  z-index: 1;
  @media all and (max-width: 1439px){
    left: 32px;
    bottom: 32px;
    font-size: 12px;
  }
  @media all and (max-width: 767px){
    left: 24px;
    bottom: 24px;
  }
  @media all and (max-width: 413px){
    left: 20px;
    bottom: 20px;
  }
}
.socials__line{
  display: block;
  width: 56px;
  border-bottom: 1px solid #393939;
  margin: 0 8px;
  opacity: 0.24;
}