.photos{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
.photo{
  position: absolute;
  overflow: hidden;
}
.photo_main{
  // top: 50%;
  // left: 50%;
  transform:rotate(1.5deg);
  //@extend: 74px;
  //left: 473px;
  left: 32.84%;
  top: 8.58%;
  // width: 476px;
  // height: 702px;
  width: calc(33.05vw *0.9);
  height: calc(46vw * 0.9);

}
.photo__img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.photo__img_visible{
  opacity: 1;
}
.photo_left{
  //width: 238px;
  //height: 331px;
  width: calc(16.53vw * 0.9);
  height: calc(22.96vw * 0.9);
  top: 23.4%;
  left: 15.54%;
  transform: rotate(1.1deg);
}
.photo_right{
  width: calc(23.96vw * 0.9);
  height: calc(16.52vw * 0.9);
  //width: 345px;
  //height: 238px;
  top: 57.42%;
  left: 61.25%;
  transform: rotate(2.03deg);
}

.photo__img_scale_x2{
  transform: translateY(120px) scale(2);
}