.swiper-container{
  width: 100%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  &:hover{
    cursor: url(../img/cursor.png), auto;
  }
  @media all and (max-width: 414px){
    transform: translateY(-40%);
  }
}
.swiper-slide{
  font-family: 'Schnyder Cond L Demi', sans-serif;
  font-size: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: #580300;
  text-transform: uppercase;
  
  flex-basis: calc(65% - (100vw - 1440px) / 480 * 60);
  flex-shrink: 0;
  flex-grow: 0;
  letter-spacing: 8px;

  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 0.84px;
  -webkit-text-stroke-color:#580300;
  transition: 0.5s;
  @media all and (max-width: 1439px){
    flex-basis: 62%;
    @include adaptiveSize(font-size, 1024, 1439, 96, 128);
  }
  @media all and (max-width: 1023px){
    flex-basis: 75%;
    @include adaptiveSize(font-size, 768, 1023, 48, 96);
  }
  @media all and (max-width: 767px){
    @include adaptiveSize(font-size, 414, 767, 44, 48);
  }
  @media all and (max-width: 413px){
    flex-basis: 80%;
    font-size: 44px;
  }
}

.swiper-slide-next{
  transform: rotate(1.5deg);
}
.swiper-slide-prev{
  transform: rotate(-1.5deg);
}
.swiper-slide-active{
  -webkit-text-fill-color:  #580300; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: none;
}